<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <import resource="spring-rabbitmq-share.xml"/>
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="makeCouponsHandler" method="onMessage" queues="spring.makeCoupons.queue"/>
    </rabbit:listener-container>
    <bean id="makeCouponsHandler" class="com.peiyu.mem.rabbitmq.MakeCouponsHandler"/>
</beans>